<div class="container-fluid" style="background-color: lightgray;" >
    <br />
    <br />


    <div class="row">

        <div class="col-md-1">

        </div>
        <div class="col-md-5" style=" color: white; margin: 10px;; background-color:#6B5B95; border: 1px  solid lightgray">
            <p></p>
            <h3 style="text-align: center;">
                EMI Calculator
            </h3>

            <app-personal-loan></app-personal-loan>

           </div>

          
           <div class="col-md-5" style="color: white; margin: 10px; background-color:#88B04B; border: 1px solid lightgray">

            <p></p>
            <h3 style="text-align: center;">
                SIP Calculator
            </h3>

            <app-sipinvestment></app-sipinvestment>

        </div>
        
        <div class="col-md-1">
            
        </div>

    </div>

    <p>

    </p>

<br>
</div>