<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <div class="tabbable" id="tabs-parent1"> 
                    <ul class="nav nav-tabs">  
                        <li class="nav-item">
                            <a class="nav-link" href="#tab1" data-toggle="tab">Section 1</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link actve show" href="#tab2" data-toggle="tab">Section 2</a>
                        </li>                         
                     </ul>

                     <div class="tab-content">
                        <div class="tab-pane actve" id="tab1"> <p> I am in Frist Section1</p> </div>

                        <div class="tab-pane" id="tab2"> <p> I am in Second Section1</p> </div>
                     </div>

                </div>

        </div>

    </div>


</div>